.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup i {
  font-size: 2rem;
}

.popuptext {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popuptext img {
  width: 50px;
  height: 50px;
}

.cart_details p {
  color: white;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width:fit-content;
  height:fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  left: 300%;
  margin-left: -80px;
  padding :4%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#33415c ;
  height: 100vh;
}

.profile_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form_update{
  background :darkolivegreen;
  height :300px;
  width : 20%;
  visibility: hidden;
  display:flex;
  justify-content :center;
  align-items :center;
  /* Selector("input").style.margintop = "10px"; */
  background : darkolivegreen;
}

.form_update input{
  margin-top: 10px;
  padding:10px;
  outline: none;
}

.cart_btns {
  margin-top: 40px;
  width: 100%;
  justify-content:center;
  display: flex;
}

.cart_btns button{
  padding: 10px;
  background-color: #555;
  border: none;
  margin-right: 10px;
  color: #fff;
  font-size: 1.3rem;
}

.profile_container {
  border-radius: 10px;
  height: 50%;
  width: 30%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: darkolivegreen;
  flex-direction: column;
}

.profile_container img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
